      <div class="bs-example">
        <nav class="navbar navbar-dark bg-primary">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" routerLink="/"> Library</a>
              <a class="navbar-brand" routerLink="/about"> About</a>
            </div>
            <div>
              <div class="navbar-nav">
                <!-- <a href="#" class="nav-item nav-link active">Home</a> -->
                <!-- <a href="#" class="nav-item nav-link">Profile</a> -->
                <div class="nav-item dropdown">
                  <a style="color: white" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"></i>
                    Hello {{profile}}!  </a>
                  <div class="dropdown-menu" style="position : absolute; left: -25px">
                    <!-- <a routerLink="/login" class="dropdown-item">Login</a>
                    <a routerLink="/signup" class="dropdown-item">Register</a> -->
                    <a routerLink="/logout" class="dropdown-item" (click)="goLogOut()">Logout</a>
                  </div>
                </div>
              </div>

              <!-- <div class="navbar-nav">
                      <a href="#" class="nav-item nav-link">Login</a>
                  </div> -->

            </div>
          </div>
        </nav>
      </div>
