<h1 style="text-align:center">
  Hope You Like This APP!
</h1>
<br>
<div class="container">
  <h2>DEVELOPED BY: </h2>
  <!-- <p>M1041925</p> -->
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/profile.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Sthitapragyan Mohanty</h4>
      <p class="card-text">M1041925</p>
      <a href="#" class="btn btn-primary">GO BACK TO START!</a>
    </div>
  </div>
  <br>
</div>
