<div class="container">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">Register</h3>
      </div>

      <!-- Modal body -->
      <form #registerform="ngForm" (ngSubmit)="registerBook(registerform.value)" class="form form-register">
        <div class="modal-body">

          <div class="form-group">
            <label for="user_name">Name : </label>
            <input class="form-control" placeholder="Name" type="text" #nam="ngModel" [(ngModel)]="user_name"
              name="user_name" required>
            <p class="alert alert-danger" *ngIf="nam.value == null && nam.touched">Name is required!</p>
          </div>
          <div class="form-group">
            <label for="email">Email : </label>
            <input class="form-control" placeholder="Email" type="email" #em="ngModel" [(ngModel)]="email" name="email"
              required>
            <p class="alert alert-danger" *ngIf="em.value == null && em.touched">Password is required!</p>
          </div>
          <div class="form-group">
            <label for="password">Password : </label>
            <input class="form-control" placeholder="password" type="password" #pass="ngModel" [(ngModel)]="password"
              name="password" required>
            <p class="alert alert-danger" *ngIf="pass.value == null && pass.touched">Email is required!</p>
          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onClose()">Close</button>
          <button type="submit" class="btn btn-success" data-dismiss="modal"
            [disabled]="registerform.invalid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
