<h3>&nbsp;&nbsp;&nbsp;&nbsp;Add Book Details: </h3>
<div class="jumbotron">
  <div>
    <form #addform="ngForm" (ngSubmit)="addBook(addform.value)" class="form form-register">
      <div class="form-group">
        <label for="book_Name">Name : </label>
        <input class="form-control" placeholder="Name" type="text" #name="ngModel" [(ngModel)]="book_Name"
          name="book_Name" required>

      </div>
      <div *ngIf="name.invalid &&  name.touched" class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="author">Author : </label>
        <input class="form-control" placeholder="author" type="text" #authorName="ngModel" [(ngModel)]="author"
          name="author" required>

      </div>
      <div *ngIf="authorName.invalid &&  authorName.touched" class="alert alert-danger">
        <div *ngIf="authorName.errors.required">
          Author is required.
        </div>
      </div>
      <div class="form-group">
        <label for="book_type">Book Type : </label>
        <br>
        <select class="form-control" #bookType="ngModel" [(ngModel)]="book_type" name="book_type" required>
          <option selected disabled></option>
          <option value="Electrical">Electrical</option>
          <option value="Mecanics">Mecanics</option>
          <option value="Computer Architecture">Computer Architecture</option>
          <option value="Networking">Networking</option>
        </select>

      </div>
      <div *ngIf="bookType.invalid &&  bookType.touched" class="alert alert-danger">
        <div *ngIf="bookType.errors.required">
          Please select book type.
        </div>
      </div>
      <div class="form-group">
        <label for="quantity">quantity : </label>
        <input class="form-control" placeholder="quantity" #bookQantity="ngModel" type="number" [(ngModel)]="quantity"
          name="quantity" required>
      </div>
      <div *ngIf="bookQantity.invalid &&  bookQantity.touched" class="alert alert-danger">
        <div *ngIf="bookQantity.errors.required">
          Please fill book quantity.
        </div>
      </div>
      <div class="form-group">
        <label for="edition">Edition : </label>
        <input class="form-control" placeholder="edition" type="text" #bookEdition="ngModel" [(ngModel)]="edition"
          name="edition" required>
      </div>
      <div *ngIf="bookEdition.invalid &&  bookEdition.touched" class="alert alert-danger">
        <div *ngIf="bookEdition.errors.required">
          Please mention book edition.
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price : </label>
        <input class="form-control" placeholder="price" type="number" #bookPrice="ngModel" [(ngModel)]="price"
          name="price" required>
      </div>
      <div *ngIf="bookPrice.invalid &&  bookPrice.touched" class="alert alert-danger">
        <div *ngIf="bookPrice.errors.required">
          Please mention book price.
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="addform.invalid">submit</button>
    </form>
  </div>
</div>
